<meta name="description" content="Ethical Dissonance Theory (EDT) by Ramon Alexander Sosich. A multi-level framework explaining psychological and institutional drivers of scientific conformity.">
<meta name="keywords" content="Ethical Dissonance Theory, EDT, scientific conformity, institutional ethics, psychology, meta-science, research integrity">
<meta name="author" content="Ramon Alexander Sosich">

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Ramon Alexander Sosich",
  "givenName": "Ramon",
  "familyName": "Sosich",
  "jobTitle": "Independant Researcher",
  "alumniOf": {
    "@type": "EducationalOrganization",
    "name": "Auckland University of Technology",
    "sameAs": "https://wikipedia.org"
  },
  "url": "https://ramon-alexander-sosich.github.io/",
  "sameAs": [
    "https://orcid.org/0009-0006-3319-5272",
    "https://www.wikidata.org/wiki/Q139960145",
    "https://www.wikidata.org/wiki/Q139963662",
    "https://www.wikidata.org/wiki/Q139960257",
    "https://scholar.google.com/citations?user=C4vjaAgAAAAJ",
    "https://www.researchgate.net/profile/Ramon-Sosich",
    "http://www.linkedin.com/in/ramon-alexander-sosich",
    "https://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=11382828",
    "https://dx.doi.org/10.2139/ssrn.6712018"
  ]
}
</script>
